body{
    background-color: antiquewhite;
}

img {

}
    
.jhin {
    text-align:center;
}

.header {
    background-color: darkcyan;
}

.fakta{
    background-color: darkcyan;
}

.intressen{
    background-color: darkcyan;
}

.mål{
    background-color: darkcyan;
}